html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	background-color: #bdc3c7;
	color: #bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	margin: 0;
}

.profil {
	background-color: #31363b;
	width: 300px;
	height: 685px;
	position: relative;
	top: 30px;
	left: 30px;
	box-shadow: 1px 1px 5px #000000;
}

.obsah {
	padding-left: 30px;
	padding-right: 30px;
}

.foto {
	width: 300px;
	position: relative;
	top: 0px;
	left: 0px;
}

.logo {
	background-color: #b92e81;
	border-radius: 50%;
	position: absolute;
	top: 170px;
	right: 40px;
	box-shadow: 1px 1px 5px #000000;
}

h1 {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding-top: 0;
}

.odkazy {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
}

.odkazy li {
	display: inline-block;
	padding: 10px;
}

a {
	color: #bdc3c7;
	text-decoration: none;
	display: block;
	width: 100%;
}

.portfolio {
	border-top: 2px solid #3f464d;
	border-bottom: 2px solid #3f464d;
	width: 300px;
}

.portfolio:hover,
.portfolio:focus,
.portfolio:active {
    background-color: #e74c3c;
}

.facebook {
	width: 150px;
}

.facebook:hover,
.facebook:focus,
.facebook:active {
    background-color: #3b5998;
}

.twitter {
	width: 150px;
}

.twitter:hover,
.twitter:focus,
.twitter:active {
    background-color: #1da1f2;
}